/vendor/
/node_modules/
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/public/hot
/public/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
